.parent {
  position: relative;
  background: #1b5686;
  width: 50%;
  height: 200px;
  margin: 20px auto;
}

.child {
  position: absolute;
  font-weight: bolder;
  font-size: 40;
  color: black;
}

/*# sourceMappingURL=styles.css.map */
